.container {
    display: flex;
    justify-content: space-between;
    margin-top : 50px;
}

.container > div {
    width: 49%;
    border : 1px solid black;
}
.left {
    padding : 20px;
}
.left .header-left {
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.left button {
    border : .1rem solid var(--p-border,#c4cdd5) !important;   
    margin-bottom: 15px;
}

.left .layer {
    background-color: #404da0;
    padding: 10px 10px 10px 5px;
    color: #fff;
}


/* .right {
    display: flex;

}

.right .text {
    width: 80%;
}

.right .box {
    width: 15%;
}

.box {
    display: flex;
    justify-content: space-between;
}

.box > span {
    width: 49%;
    border: 1px solid black;
} */