.row .club > .row{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    padding: 10px;
    margin : 20px;
}

.fil_text {
    margin: 20px;
}
.row .filter > .my-1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    display: block;
    margin: 20px;
    height: 150px;
    padding : 10px;
}

.sub_filter {
    margin-top : 10px;
}
.sub_filter:hover {
    transform: scale(1.1);
}
.row .filter > .my-2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    margin : 20px;
    height: 150px;
    padding : 10px;
}
.row .club .row > .btn-default {
    border : 1px solid red;
    height : 30px;
}
.row .club .row > .btn-default:hover {
    background-color: #dd1515;
    color:white;
    transform: scale(1.1);
}

.filterName {
    margin : 0 20px;
    height: 34px;
    padding : 10px;
    border-radius:30px;
}