.add {
    margin-bottom: 10px;
}

table tbody img.avt {
    height: 70px;
    width: 70px;
}

h1.title {
    background-color: #dd1515;
    color: white;
    height: 50px;
    margin-bottom: 50px;
}

h4.title {
    color : white;
    font-weight: 700;
}

.left-team .logo, .right-team .logo {
    height: 70px;
    width: 70px;
}

.oppsing h4 {
    color: #dd1515;
    font-weight: 700;
}

div .logo {
    width: 100%;
    height: 100%;
}
